
   
    <div class="row">
        <aside class="col-md-3">
            <h2>Coming Soon</h2>
            <p>Stay tuned for future updates…</p>
        </aside>
        <section class="main col-md-9">
            <article>
                <h2>About</h2>
                <p>
                    I am a student in the CPP program at Seneca College. I am interested in exploring AI programs in the future and developing my skills in this exciting field. My goal is to deepen my understanding of AI technologies and apply them to real-world problems. I aim to work on innovative projects that contribute to advancements in artificial intelligence and its applications. Additionally, I aspire to continuously learn and stay updated with the latest trends and breakthroughs in AI.
                </p>
            </article>
        </section>
    </div>

