
    <div class="container" style="padding-top: 90px;">
       
        <form method="post" action="/categories/add" class="row">
         <h2>Add Category</h2>
            <div class="form-group">
                <label for="category">Category:</label>
                <input type="text" class="form-control" name="category" id="category" autofocus>
            </div>
            <br>
            <div class="addCategory">
                <button type="submit" class="btn btn-primary">Add Category</button>
            </div>
            
        </form>
    </div>
