<h2>Register</h2>
{{#if errorMessage}}
<div class="alert alert-danger">
    <strong>Error:</strong> {{errorMessage}}
</div>
{{/if}}
{{#if successMessage}}
<div class="alert alert-success">
    <strong>Success:</strong> {{successMessage}}
</div>
<a class="btn btn-success pull-right" href="/login">Proceed to Log in</a>
<br /><br /><br />
{{else}}
<form method="post" action="/register">
    <input type="text" name="userName" placeholder="User Name" required value="{{userName}}" />
    <input type="password" name="password" placeholder="Password" required />
    <input type="password" name="password2" placeholder="Confirm Password" required />
    <input type="email" name="email" placeholder="Email Address" required />
    <button type="submit">Register</button>
</form>
{{/if}}
